<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body>

<div th:fragment="TEXT(field, index)">
    <label th:text="#{template.fields.fieldPrompt}">Write your prompt:</label>
    <input type="text" th:field="*{fields[__${index}__].prompt}" />
    <label th:text="#{template.fields.variablePrompt}">Variable tied to prompt:</label>
    <input type="text" th:field="*{fields[__${index}__].variableName}" />
    <label th:text="#{template.fields.placeholderText}">Placeholder Text:</label>
    <input type="text" th:field="*{fields[__${index}__].textValue}" />
</div>

<!--<div th:fragment="NUMBER(field, index)">-->
<!--    <label th:text="${field.label}"></label>-->
<!--    <input type="number" th:field="*{fields[__${index}__].numberValue}" />-->
<!--    <input type="hidden" th:field="*{fields[__${index}__].type}" value="TEXT" />-->
<!--</div>-->

</body>

</html>